.about__Cont {}
.about__inner {
    background: var(--light);
}
.container {
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
    h3 {
        font-size: 4vw;
        text-align: left;
    }
    p {}
}