.TMDB__cont {
    background: var(--light);
}
.TMDB__inner {
    opacity: 0;
    background: var(--light);
}
.TMDB__list {
    background: var(--light);
    font-family: var(--main_font);
    font-size: 1.1rem;
    color: var(--dark);
    ul {
        display: flex;
        flex-wrap: wrap;
        
    }
    li {
        flex: 1 1 30%;
        margin: 1%;
        p {
            color: var(--white);
            font-family: var(--subKor_font);
            padding-top: 7px;
        }
    }   
}
.TMDB__list {
    opacity: 1;
    transform: translate(10px);
    background: var(--light);
}